
body {
  margin:0;
  padding:0;
  width:450px;
  font:12px Arial, sans-serif;
  overflow-x:hidden;
}

a {
  color:#333;
  text-decoration:none;
}

span#auto-focus {
	position:absolute;
	left:-9999px;
}

section {
	position:relative;
}

