footer#main-footer {
  position:relative;
  padding:9px 20px;
  height:30px;
  color:#666;
  font-size:11px;
  border-top:1px solid #ccc;
  text-align:right;
}

footer#main-footer a {
  color:#666;
}

footer#main-footer label {
	position:absolute;
	top:6px;
	left:5px;
}
