section#list {
	margin:10px 0 0;
}

section#list button.remove {
	margin:0;
	padding:0;
	width:14px;
	height:15px;
	background:transparent url(/imgs/icon-remove.png) no-repeat 0 0;
	border:none;
	float:right;
	cursor:pointer;
}

section#list button.remove:hover {
	background-position:-14px 0;
}

section#list div#overlay {
	position:absolute;
	display:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:.5;
	z-index:2;
}

section#list span.confirm {
	width:0;
	height:15px;
	margin-right:5px;
	font-weight:normal;
	float:right;
	overflow:hidden;
	white-space:nowrap;
	-webkit-transition:width .3s;
}

section#list span.confirm.visible {
	width:125px;
}

section#list span.option {
	margin-left:4px;
	border-bottom:1px dotted #ccc;
	cursor:pointer;
}

section#list span.user-removal {
	display:none;
}

section#list img.user-grip {
	position:absolute;
	display:none;
	top:50%;
	left:50%;
	margin-top:-6px;
	margin-left:-58px;
	cursor: -webkit-grab;
	opacity:0;
}

section#list table {
  width:100%;
}

section#list th {
	position:relative;
  padding-right:15px;
	height:20px;
  text-align:left;
}

section#list td {
  padding:10px 15px 10px 0;
  border-top:1px solid #ddd;
}

section#list td div#no-projects {
	margin-right:15px;
  padding:40px 0;
  color:#999;
  text-align:center;
  border:3px solid #f5f5f5;
  border-radius:5px;
}

section#list td.message {
	background-color:#fff;
	cursor:default;
}

section#list td:first-child {
  padding-left:15px;
}

section#list tr span:before {
	margin-right: 5px;
	vertical-align:center;
}

section#list tr.passed span:before {
  content: url(/imgs/icon-passed.png);
}

section#list tr.failed span:before {
  content: url(/imgs/icon-failed.png);
}

section#list tr.errored span:before {
  content: url(/imgs/icon-errored.png);
}

section#list tr.started span:before {
  content: url(/imgs/icon-started.png);
}

section#list thead tr {
	border-bottom:1px solid #999;
}

section#list ul {
	max-height:485px;
	overflow-x:hidden;
}

section#list ul li {
	overflow:hidden;
}

section#list ul li.ui-state-highlight {
	margin:3px;
	height:20px;
	border:3px dashed #ccc;
	border-radius:3px;
}

section#list ul th {
	padding:5px 15px;
	color:#fff;
	background-color:#666;
	cursor:default;
}

section#list ul tr {
  cursor:pointer;
}

section#list ul tr:nth-child(even) {
  background-color:#fff;
}

section#list ul tr:nth-child(odd) {
  background-color:#f1f1f1;
}

section#list ul tr:hover {
	background-color:#fdf2d6;
}

section#list ul tr.failed {
  background-color:#fcc;
}

section#list ul tr.failed:hover {
  background-color:#fbb;
}

section#list .col-build {
	width:60px;
}

section#list .col-duration {
	width:80px;
}

section#list .col-finishedAt {
	width:120px;
}
