* {
	box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  width:450px;
  font:12px Arial, sans-serif;
  overflow-x:hidden;
}

a {
  color:#333;
  text-decoration:none;
}

iframe#templates {
	display:none;
}

span#auto-focus {
	position:absolute;
	left:-9999px;
}

section {
	position:relative;
}

ol, ul, li {
	margin:0;
	padding:0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

